@use '../login/login.component.scss' as *;

.success-alert {
    background: #F0FDF4;
    border: 1px solid #BBF7D0;
    color: #16A34A;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}